body, button {
    font-family: "Truetypewriter PolyglOTT";
    font-size: 18px;
}
.header-nav > button{
    width: 250px;
    background-color: #696969;
    border-radius: 25px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 22px;
    transition:0.7s;
}

.header-nav > button:focus{
    outline: none;
}

.header-nav > button:hover{
    margin-left: -50px;
    transition:0.7s;
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 5px black;
    color: white;
}

.main-place{
    width: 100%;
    height: 800px;
    background-image: url("../images/2.JPG");
    background-size: 100% 100%;
}

.header-nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    height: 150px;
    position: fixed;
    right: 0px;
}

.map {
    display: block;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50px;
    top: 30%;
    border: 1px solid red;
}

.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    transition: 2s;
}

.im-here {
    background-image: url("../images/stalker2.png");
    background-size: 100% 100%;
    transition: 2s;

}

.pop-up-window{
    position: absolute;
    top: -1000px;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 180px;
    background-color: gray;
    border: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
    transition: 1s;
}

.input-coloumn {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.battle-place {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
}



.active-pop-up{
    top: 50%;
    transition: 1s;
}

.user {
    display: flex;
    width: max-content;
    height: 100%;
    background-color: dimgrey;
}

.user-icon {
    width: 120px;
    height: 100px;
}

.user-info {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*asd*/

.test{
    display: block;
}

@font-face {
    font-family:"Truetypewriter PolyglOTT";
    src: url("../css/font/20322.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}