<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CharPage</title>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./char.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

<div class="char-menu" id="char_menu">

<div class="char-menu-person" id="char_menu_person">
    <div class="char-menu-person-info" id="char_menu_person_info">
        <img src="./images/stalker2.png" alt="" class="user-icon">
        <div class="char-menu-person-info_text">
            <p>Позывной: <span>Дед</span></p>
            <p>Фракция: <span>Бандит</span></p>
            <p>Состояние: <span>Чертила</span></p>
            <p>Наличман: <span>100 000</span></p>
        </div>
    </div>

</div>
<div class="char-menu-info" id="char_menu_info">
    <div class="char-menu-info_stats" id="char_menu_info_stats">
        <div class="stat_1">
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
        </div>
        <div class="stat_1">
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
            <p>Стата:+5</p>
        </div>
    </div>
    <div class="char-menu-info_equips" id="char_menu_info_equips">
        <div class="char-menu-info_equips_gears">
        <div class="head-gears">

        </div>
        <div class="chest-gears">

        </div>
        <div class="boots-gears">

        </div>
        </div>
        <div>
            <div class="char-menu-info_equips_artefacts">

            </div>
        </div>
    </div>
</div>
    <div class="char-menu-inventory" id="char_menu_inventory">

    </div>

</div>

</body>
</html>